
<%= link_to 'New Weekly Matches', new_match_week_path %>
<br>
<br>
	<table border = "1">
		<th>Year</th>
		<th>Week</th>
		<th># of Matches</th>
		<th colspan="3">Actions</th>
			<% @match_weeks.each do |match_week| %>
				<tr>
					<td align="center"><%= "#{match_week.year}" %></td>
					<td align="center"><%= "#{match_week.week.capitalize}" %></td>
					<td align="center"><%= "#{match_week.matches.count}" %></td>
					<td><%= link_to 'Edit', edit_match_week_path(match_week) %></td>
					<td><%= link_to 'Create HTML', controller: 'welcome' %></td>
					<td><%= link_to 'Create XML',match_week_to_xml_path(:match_week_id => match_week.id) %></td>
				</tr>
			<% end %>  

</table>
